<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ink Kingdom</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet">
    <link href="~/Content/Galleri.css" type="text/css" rel="stylesheet">
    <link href="~/Content/Backtotop.css" type="text/css" rel="stylesheet">
    <link href="~/Content/Reset.css" type="text/css" rel="stylesheet">
    <link href="~/Content/Menucss.css" type="text/css" rel="stylesheet">
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="~/Content/ourArtists.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Footer.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/aboutUs.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/top.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="Scripts/Backtotop.js"></script>
    <script src="Scripts/nav.js"></script>
    <script src="~/Scripts/ourArtists.js"></script>
</head>
<body>





    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
